In [4]:
print("hello world")
print(add(2,3))

hello world
5

In [2]:
#i am defining add function
def add(a,b):
    return a+b
print(add(2,3))

5

my first notebok

In [7]:
print(2+3)
print(3-4)
print(1/0)

5
-1

ZeroDivisionError: division by zero

In [8]:
print(2*5)

10

In [18]:
#taking input in python

a= int(input("Enter a Number"))
b= int(input("Enter another number"))
print(a*b)

Enter a Number 5
Enter another number 4

20

In [16]:
print((50 - 5*6) // 4)

5

In [19]:
a= 5-3*6//2 +  8/6*4
print(a)

1.333333333333333

In [2]:
a= 8/6*(4-8)// (5+9)*6
print(a)

-6.0

In [21]:
print(8/(-24))

-0.3333333333333333

In [1]:
print((-5.32)//14)

-1.0

In [25]:
print(-4//14)

-1

In [ ]:
a= 2**5
print(a)

In [3]:
a= 6**2- 8/3*8+ 5*9
print(a)

59.66666666666667

In [6]:
h = int(input("Enter height of triangle"))
b = int(input("Enter base of triangle"))
area = (h*b)//2
print("Area of Traingle =", area , end=" $ ")
area1 = (h*b)/2
print("Area of Traingle =", area1)

Enter height of triangle 5
Enter base of triangle 7

Area of Traingle = 17 $Area of Traingle = 17.5

In [7]:
a= 5
b = 5.5
s= 'abc'
d= True
c= 2+ 3j
print(a,b,s,d,c)
print(type(a))
print(type(b))
print(type(s))
print(type(d))
print(type(c))

IndentationError: unexpected indent (2650498737.py, line 11)

In [11]:
 a= """ welcome to coding blocks
     data analytics course   
"""
print(a)
#escape sequence \t, \n
a= 'abc\tdef'
print(a)

 welcome to coding blocks
    data analytics course

abc	def

In [20]:
#conditional statement
a = int(input("Enter a number"))
if(a%2 == 0):
    print("Even")
else:
    print("Odd")

Enter a number 6

Even

In [23]:
#while loop statement

count = int(input("Enter a num"))
while (count<= 20):
    print(count)
    count+=2

Enter a num 2

2
4
6
8
10
12
14
16
18
20

In [27]:
n = int(input("Enter a num"))
largest =0
count =1
while(count<=n):
    num = int(input("Enter number"))
    if(largest <= num):
        largest = num
    count +=1 
print(largest)

Enter a num 10
Enter number 12
Enter number 15
Enter number 17
Enter number 25
Enter number 35
Enter number 40
Enter number 42
Enter number 33
Enter number 22
Enter number 18

42

In [2]:
n = int(input("Enter a number"))
c=0
while(n>0):
    c+=1
    n= n//10
print(c)

Enter a number 20192813

8

In [4]:
n = int(input("Enter a number"))
rev=0
while(n>0):
    rem = n%10
    n = n//10
    rev = rev*10 + rem
print(rev)

Enter a number 30467

76403

In [5]:
while(True):
    n = int(input("Enter a number"))
    if(n%5==0):
        break

Enter a number 12
Enter a number 13
Enter a number 18
Enter a number 17
Enter a number 21
Enter a number 25

In [8]:
a= 10
b= 20
#swap1
# c= a
# a=b
# b=c

#swap2
a,b =b,a
print(a,b)

20 10

In [21]:
r=1
c=1
while(r<=5):
    c=1
    while(c<=r):
        print("*",end=" ")
        c+=1
    r+=1
    print()

*
* *
* * *
* * * *
* * * * *

In [19]:
r=1
c=1
while(r<=5):
    space =1
    while(space <=  5-r):
        print(" ",end="")
        space+=1
    c=1
    while(c<=r):
        print("*",end=" ")
        c+=1
    r+=1
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
c=1
while(c<=10):
    print(c)
    c+=1
for c in range(10,1,-1): ## for (i=1;i<10;i++)
    print(c)

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2

In [22]:
for r in range(6): ## for(r=0;r<6;r++)
    for c in range(r): ## for(c=0;c<r;c++)
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [42]:
def IsPrime(n):
    for i in range(2,n):
        if(n%i ==0):
            return False
    return True


n = int(input("Enter a num"))
if(IsPrime(n)):
    print("Prime")
else:
    print("Not Prime")

Enter a num 33

Not Prime

Enter a num 32

Not Prime

In [35]:
n = input()
match(n):
    case "A":
        print("sec a")
    case "B":
        print("sec b")
    case _:
        print("sec c")

 D

sec c

In [3]:
def add(a,b,c=0):
    return a+b+c
print(add(2,3))
print(add(5,8,4))

5
17

In [49]:
def largestOfThree(a,b,c):
    if(a>=b and
       
       a>=c):
        return a
    elif (b>=a and b>=c):
        return b
    else:
        return c
print(largestOfThree(2,8,13))

13

In [50]:
def largest(*args):
    for i in args:
        print(i)
largest(2,5,7,12,18)

2
5
7
12
18

In [4]:
row = int(input("Enter row number"))
for r in range(row):
    for s in range(r):
        print("",end=" ")
    for c in range(row-r):
        print("*", end=" ")
    print()

Enter row number 5

* * * * *
 * * * *
  * * *
   * *
    *

In [5]:
row = int(input("Enter row number"))
count =1
for r in range(row):
    for c in range(r):
        print(count, end= " ")
        count+=1
    print()

Enter row number 5

1
2 3
4 5 6
7 8 9 10

In [11]:
row = int(input("Enter row number"))
start = "A"
for r in range(row):
    for c in range(r):
        print(start, end= " ")
        start = chr(ord(start) + 1)
    print()

Enter row number 5

A
B C
D E F
G H I J

In [17]:
def isNegative(n) -> bool:
    return n<0
a = isNegative(-5)
print(a)

True

#lambda function

In [21]:
a= lambda n: n%2==0
print(a(3))
mul = lambda a,b: a*b
print(mul(3,3))

False
9

In [10]:
#find nth fibonacii series 0,1,1,2,3,5,8,13
def fib(n) ->int:
    a,b = 0,1
    if n==1: 
        return a
    elif n==2:
        return b
    for i in range(1,n):
        # c= a+b
        # a=b
        # b=c
        a,b =b,a+b
    return a
n = fib(8)
print(n)

13

###string

In [42]:
s= "___hello world___"
print(s)
print(s.strip("_"))
# print(s[0],s[-11])
# print(s[10],s[10])
# # s[0]='a' does not support assingment
# s+= "coding blocks"
# print(s)

# # print(s.replace("coding blocks"," python"))
# # print(s.capitalize())
# print(s.upper())
# s.count("l")
print(s.find("x"))
print(s.split(" "))

___hello world___
hello world
-1
['___hello', 'world___']

In [41]:
email = input("Enter an email")
if(email.endswith("@gmail.com")):
    print(email)
else:
    print("invalid")

Enter an email a@393

invalid

In [3]:
##factorial
def fact(n):
    ans=1
    for i in range(1,n+1):
        ans*= i
    return ans
print(fact(6))

720

In [7]:
def isPalindrome(s):
    l = len(s)
    for i in range(l//2):
        if (s[i] != s[l-i-1]):
            return False
    return True
s = "abcba"
print(isPalindrome(s))

True

###String slicing
a   b  c  d  e  f
0   1  2  3  4  5 
-6 -5 -4 -3 -2 -1

In [20]:
s = "abcdef"
print(s[0:5])
print(s[1:1])
print(s[0:5:2])
print(s[4:0:-1])
print(s[-2:-4:1])
print(s[2:])
print(s[-1::-1])##reverse

abcde

ace
edcb

cdef
fedcba

In [22]:
s= input("Enter a string")
rev= s[-1::-1]
if(s== rev):
    print("True")
else:
    print("False")

Enter a string ahshahsh

False

In [27]:
s= input("Enter string")
for stx in range(0, len(s)):
    for edx in range(stx +1, len(s)+1):
        print(s[stx:edx])

Enter string abcde

a
ab
abc
abcd
abcde
b
bc
bcd
bcde
c
cd
cde
d
de
e

###List

In [7]:
l =[1,2,3]
l1 = list((4,5,6))
print(l1)
print(type(l))
for i in l:
    print(i)

[4, 5, 6]
<class 'list'>
1
2
3

In [15]:
##slicing in list
l= [1,2,3,4,11,5,6,7,8]
print(l[-1::-1])
sq=[]
for i in l:
    sq.append(i**2)
print(sq)
# print(min(l))
largest = 0
for i in l:
    if(largest < i):
        largest = i
print(largest)

[8, 7, 6, 5, 11, 4, 3, 2, 1]
[1, 4, 9, 16, 121, 25, 36, 49, 64]
11

In [ ]:
def fib(n):
    l=[]
    a,b =0,1
    while n>0:
        l.append(a)
        a,b = b, a+b
        n-=1
    return l
l = fib(10)
print(l)

In [12]:
l= [1,2,3,4,5,6,7,8]
left =0
right = len(l)-1
while(left <right):
    l[left],l[right] = l[right],l[left]
    left+=1
    right-=1
print(l)

[8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
## function to reverse a list
def reverse(start,end,l):
    left =start
    right = end
    while(left <right):
        l[left],l[right] = l[right],l[left]
        left+=1
        right-=1
    return l

l= [1,2,3,4,5,6,7,8]
reverse(6,7,l)
reverse(0,5,l)
reverse(0,7,l)
print(l)

[7, 8, 1, 2, 3, 4, 5, 6]

In [18]:
# list comprehension
l = [ i for i in range(5)]
print(l)

[0, 1, 2, 3, 4]

In [21]:
l=[1,2,3,4,5]
# l1=[]
# for i in l:
#     l1.append(i**2)

l1 = [i**2 for i in l if i%2==0]
print(l1)

[4, 16]

In [24]:
x =[1,2,3]
y=[4,5,6,7]
for i in x:
    for j in y:
        print((i,j),end=" ")

(1, 4) (1, 5) (1, 6) (1, 7) (2, 4) (2, 5) (2, 6) (2, 7) (3, 4) (3, 5) (3, 6) (3, 7)

In [27]:
cord = [(i,j) for i in x for j in y]
print(cord)

[(1, 4), (1, 5), (1, 6), (1, 7), (2, 4), (2, 5), (2, 6), (2, 7), (3, 4), (3, 5), (3, 6), (3, 7)]

In [15]:
t = (2,5,6,8,9,0)
print(type(t), t[5])
# for i in t:
#     print(i)
# t1=(10,11,12)
# t+=t1
t[1] =7
print(t[1])

<class 'tuple'> 0

TypeError: 'tuple' object does not support item assignment

In [10]:
##unpack

name,age,gender = ("Shhivam",24,"MALE")
print(name,age,gender)

Shhivam 24 MALE

In [23]:
## dictionary
login_info =[]
for i in range(2):
    u=input()
    p=input()
    d= {u:p}
    login_info.append(d)
print(login_info)
# d= {"username":["shivam_449","Utkarsh"], "password": "Lucknow@4G"}
# print(d["shivam_449"])

 abcd
 123
 abc
 1234

[{'abcd': '123'}, {'abc': '1234'}]

In [39]:
d=dict({
    "name":"utkarsh",
    "mobile":123455,
    "age": 23,
    (23,):"python"
})
# print(d.keys)
for i in d.values():
    print(i)

d["add"] = "indira nagar"
print(d)

utkarsh
123455
23
python
{'name': 'utkarsh', 'mobile': 123455, 'age': 23, (23,): 'python', 'add': 'indira nagar'}

In [40]:
fruit = {
    "banana":5,
    "apple":6,
    "grapes":9,
    "guava":12
}
print(fruit["banana"])

5

In [8]:
l= [2,4,5,8,0,1,7]
# print([i for i in l if i%2==0])
# l1=[]
# for i in l:
#     if(i%2==0):
#         l1.append(i)
# print(l1)

l=list(filter(lambda x: x%2!=0, l))
print(l)

[5, 1, 7]

In [6]:
l= [2,4,5,8,0,1,7]

list(map( lambda x: x**3, l))

[8, 64, 125, 512, 0, 1, 343]

In [15]:
dict = {"user":"abc",
       "password":12345,
       "name":"coding_blocks"}
for k in dict.keys():
    print(k, dict.get(k)) ## dict[k]

print(dict.get("hi"))
print(dict["hi"])

user abc
password 12345
name coding_blocks
None

KeyError: 'hi'

In [17]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(l[0][2], l[2][1])

3 8

In [26]:
for j in range(len(l)):
    for i in range(len(l[j])):
        print(l[j][i], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [30]:
[ l[i][j] for i in range(len(l[j])) for j in range(len(l)) ]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l1=["coding", "block","indira", "nagar"]
for idx,val in enumerate(l1):
    print(idx,val)

0 coding
1 block
2 indira
3 nagar

In [33]:
x= [1,3,5,8,9]
y= [7,2,9,1,5]
##zip function

cord = [(i,j) for i,j in zip(x,y)]
print(cord)

[(1, 7), (3, 2), (5, 9), (8, 1), (9, 5)]