l= [5,9,"coding", "hello",True, 6.5]
count =0
for i in l:
    if(type(i)==str):
        count+=1
print(count)

In [18]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
print(fr.get("orang"))
# print(fr["orang"],)
print(fr)
# total_fr=0
# for i in fr:
#     # print(i,fr[i])
#     total_fr+= fr[i]
# print(total_fr)

None
{'banana': 10, 'apple': 15, 'orange': 20}
45

In [33]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
key = list(fr.keys())
print(key)

['banana', 'apple', 'orange']

In [23]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
value = list(fr.values())
sum=0
for i in value:
    sum+=i
print(sum)

45

In [65]:
fr= {"banana":10,
    "apple":15,
    "orange":20}

items = list(fr.items())
print(items)

[('banana', 10), ('apple', 15), ('orange', 20)]

In [73]:
data= {
    "fr":{"banana":10,
        "apple":15,
        "orange":20},
    
    "veg":{"potato":15,
            "tomato":25,
            "carrot":30}
}
print(data.get("veg").get("tomato"))
print(data["veg"]["tomato"])

25
25

In [32]:
for key,value in data.items():
    print(key,value)
    for child_k,child_v in data[key].items():
        print(child_k,child_v)

fr {'banana': 10, 'apple': 15, 'orange': 20}
banana 10
apple 15
orange 20
veg {'potato': 15, 'tomato': 25, 'carrot': 30}
potato 15
tomato 25
carrot 30

In [74]:
del data["veg"]
print(data)

{'fr': {'banana': 10, 'apple': 15, 'orange': 20}}

In [75]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
# adding new keys into dict
fr["grapes"]=5

key = list(fr.keys())
key.sort()
# print(key)
# creating new dict having sorted key
new_fr={}
for i in key:
    new_fr[i]= fr[i]
print(new_fr)

{'apple': 15, 'banana': 10, 'grapes': 5, 'orange': 20}

In [53]:
from collections import OrderedDict
fr= {"banana":10,
    "apple":15,
    "orange":20}
orderdict= OrderedDict(sorted(fr.items()))
print(type(orderdict), type(fr))

<class 'collections.OrderedDict'> <class 'dict'>

In [59]:
ls=[1,3,5,9,2,4]
# ls.sort()
nl =sorted(ls)
print(nl,ls)

[1, 2, 3, 4, 5, 9] [1, 3, 5, 9, 2, 4]

In [62]:
fr= {"banana":[10,15,20],
    "apple":(15,50,35),
    "orange":20}
print(fr.get("apple")[2])

35

In [3]:
##Sets
s= {4,8,1,9,4,1}
print(s)
# add is use to insert single elem
s.add((12,15,8))

s.add((12,15,8))

# update is use to insert multiple elem
s.update((11,19,21))
# remove elem from set if present else give error
s.remove(12)
#discard elem from set but does'nt give error 
s.discard(4)
print(s)

# for loop in set
for i in s:
    print(i)

#check if elem is present
if(9 in s):
    print("Present")
else:
    print("Not present")

{8, 1, 4, 9}
{1, (12, 15, 9), 8, 9, 11, (12, 15, 8), 19, 21}
1
(12, 15, 9)
8
9
11
(12, 15, 8)
19
21
Present

In [83]:
ls= [5,7,11,1,5,11]
nl=[]
for i in ls:
    if(ls.count(i)==1):
        nl.append(i)
print(nl)

[7, 1]

In [5]:
##unique elem in ls
ls= [5,7,11,1,5,11]
s=set()
for i in ls:
    if(i in s):
        s.remove(i)
    else:
        s.add(i)
print(s)

{1, 7}

In [105]:
ls= [5,7,11,1,5,11]
s=set()
nl =[]
for i in ls:
    if(i in s):
        nl.append(i)
    else:
        s.add(i)
print(nl)

[5, 11]

In [6]:
fr=["banana","carrot","tomato","apple"]
veg=["carrot","tomato","bringle"]
s1= set(fr)
s2 = set(veg)
print(s1&s2, s1.intersection(s2)) #intersection of two set
print(s1|s2) # union of two set
print(s1^s2) #exclude item that present in both
print(s1-s2) #subtraction of s2 from s1
print(s2-s1)

{'carrot', 'tomato'} {'carrot', 'tomato'}
{'carrot', 'apple', 'bringle', 'tomato', 'banana'}
{'banana', 'apple', 'bringle'}
{'banana', 'apple'}
{'bringle'}