In [2]:
s1={5,9,11,5,9}
print(s1)
s1.add(11)
print(s1)

{9, 11, 5}
{9, 11, 5}

filter function

In [7]:

# def my_fun(n):
    # return n%2==0
ls=[11,19,15,12]
# en =list(filter(my_fun, ls))
en =list(filter(lambda n: n%2==0, ls))
print(en)

[12]

In [9]:
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
en =list(filter(lambda t: t[1]%2==0, ls))
print(en)

[('rohan', 16)]

enumerate fun

In [11]:
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
for idx,val in enumerate(ls):
    print(idx,val)

0 ('ram', 19)
1 ('shyam', 21)
2 ('rohan', 16)
3 ('sohan', 25)

In [16]:
##Zip function
name=["shyam","ram","rohan","sohan","sita"]
age=[19,21,30,24,16]
data={}
for nam,ag in zip(name,age):
    print(nam,ag)
    data[nam] = ag
print(data)

shyam 19
ram 21
rohan 30
sohan 24
sita 16
{'shyam': 19, 'ram': 21, 'rohan': 30, 'sohan': 24, 'sita': 16}

In [23]:
##2d list

mat= [[1,2,3],
     [5,7,9],
     [11,15,17,12]]
# print(mat[0][0],mat[2][3])
for ls in mat:
    for i in ls:
        print(i,end=" ")
    print()

1 2 3
5 7 9
11 15 17 12