In [1]:
nameList = ['Harsh', 'Pratik', 'Bob', 'Dhruv'] 
print (nameList[1][-1])

k

In [11]:
def addToList(listcontainer): 
    listcontainer += [10] 
mylistContainer = [10, 20, 30, 40] 
addToList(mylistContainer) 
print (len(mylistContainer))

5

In [12]:
check1 = ['Learn', 'Quiz', 'Practice', 'Contribute'] 
check2 = check1 
check3 = check1[:] 
 
check2[0] = 'Code'
check3[1] = 'Mcq'
 
count = 0
for c in (check1, check2, check3): 
    print(c)
    if c[0] == 'Code': 
        count += 1
    if c[1] == 'Mcq': 
        count += 10
 
print (count)

['Code', 'Quiz', 'Practice', 'Contribute']
['Code', 'Quiz', 'Practice', 'Contribute']
['Learn', 'Mcq', 'Practice', 'Contribute']
12

In [10]:
list1 = [1, 2, 3, 4, 5] 
list2 = list1 
list2[0] = 0 
 
print( list1)

[0, 2, 3, 4, 5]

In [14]:
L1 = [1, 2, 3, 4] 
L2 = L1 
L3 = L1.copy() 
L4 = L1
L1[0] = 5 
print(L1, L2, L3, L4)

[5, 2, 3, 4] [5, 2, 3, 4] [1, 2, 3, 4] [5, 2, 3, 4]

In [18]:
list1 = [1998, 2002] 
list2 = [2014, 2016] 
print(list(map(lambda x:x*2,list1+list2)))
print ([list1 + list2]*2)

[3996, 4004, 4028, 4032]
[[1998, 2002, 2014, 2016], [1998, 2002, 2014, 2016]]

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000] 
print (list1[1][-1])

In [19]:
d1 = [10, 20, 30, 40, 50] 
d2 = [1, 2, 3, 4, 5] 
 
 
subtracted = list()
for d1, d2 in zip(d1, d2):
    item = d1 -d2
    subtracted.append(item)
 
print(subtracted)

[9, 18, 27, 36, 45]

In [21]:
list = ['a', 'b', 'c'] * -3
print(list)

[]

In [22]:
data = [2, 3, 9] 
temp = [[x for x in[data]] for x in range(3)] 
print (temp)

[[[2, 3, 9]], [[2, 3, 9]], [[2, 3, 9]]]

In [23]:
data = [x for x in range(5)] 
temp = [x for x in range(7) if x in data and x%2==0] 
print(temp)

[0, 2, 4]

In [24]:
temp = 'coding 22536 for 445 world'
data = [x for x in (int(x) for x in temp if x.isdigit()) if x%2 == 0] 
print(data)

[2, 2, 6, 4, 4]

In [25]:
L1 = []
L1.append([1, [2, 3], 4]) 
L1.extend([7, 8, 9]) 
print(L1[0][1][1] + L1[2])

11

In [26]:
L1 = [1, 1.33, 'CB', 0, 'NO', None, 'G', True] 
val1, val2 = 0,'' 
for x in L1: 
    if(type(x) == int or type(x) == float): 
        val1 += x 
    elif(type(x) == str): 
        val2 += x 
    else: 
        break
print(val1, val2)

2.33 CBNO

Dictionary

In [27]:
D = dict() 
for x in enumerate(range(2)): 
    D[x[0]] = x[1] 
    D[x[1]+7] = x[0] 
print(D)

{0: 0, 7: 0, 1: 1, 8: 1}

In [28]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3} 
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

In [34]:
D = {1 : {'A' : {1 : "A"}, 2 : "B"}, 3 :"C", 'B' : "D", "D": 'E'} 
print(D[D[D[1][2]]], end = " ") 
print(D[D[1]["A"][2]])

E

KeyError: 2

In [35]:
D = dict() 
for i in range (3): 
    for j in range(2): 
        D[i] = j 
print(D)

{0: 1, 1: 1, 2: 1}

In [36]:
D = {1 : [1, 2, 3], 2: (4, 6, 8)} 
D[1].append(4) 
print(D[1], end = " ") 
L = [D[2]]
L.append(10) 
D[2] = tuple(L) 
print(D[2])

[1, 2, 3, 4] ((4, 6, 8), 10)

In [37]:
a = {i: i * i for i in range(6)} 
print (a)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [38]:
dictionary = {'CB' : 'codingblocks.com', 
            'google' : 'google.com', 
            'facebook' : 'facebook.com'
            } 
del dictionary['google']; 
for key, values in dictionary.items(): 
    print(key, end=" ") 
dictionary.clear(); 
for key, values in dictionary.items(): 
    print(key) 
del dictionary; 
for key, values in dictionary.items(): 
    print(key)

CB facebook

NameError: name 'dictionary' is not defined

In [39]:
dictionary1 = {'Google' : 1, 
            'Facebook' : 2, 
            'Microsoft' : 3
            } 
dictionary2 = {'CB' : 1, 
            'Microsoft' : 2, 
            'Youtube' : 3
            } 
dictionary1.update(dictionary2); 
for key, values in dictionary1.items(): 
    print(key, values , end=" ")

Google 1 Facebook 2 Microsoft 2 CB 1 Youtube 3

In [40]:
numberGames = {} 
numberGames[(1,2,4)] = 8
numberGames[(4,2,1)] = 10
numberGames[(1,2)] = 12
 
sum = 0
for k in numberGames: 
    sum += numberGames[k] 
 
print (len(numberGames) + sum)

(1, 2, 4)
(4, 2, 1)
(1, 2)
33

In [41]:
a = {} 
a[1] = 1
a['1'] = 2
a[1]= a[1]+1
count = 0
for i in a: 
    count += a[i] 
print(count)

4

In [42]:
test = {1:'A', 2:'B', 3:'C'} 
del test[1] 
test[1] = 'D'
del test[2] 
print(len(test))

2

String

In [43]:
str1 = '{2}, {1} and {0}'.format('a', 'b', 'c') 
str2 = '{0}{1}{0}'.format('abra', 'cad') 
print(str1, str2)

c, b and a abracadabra

In [44]:
a = 2
b = '3.77'
c = -8
str1 = '{0:.4f} {0:3d} {2} {1}'.format(a, b, c) 
print(str1)

2.0000   2 -8 3.77

In [45]:
my_string = "coding blocks"
i = "h"
while i in my_string: 
    print(i, end =" ")

In [46]:
x = 123
for i in x: 
    print(i, end=" ")

TypeError: 'int' object is not iterable